@using AspNetCoreHero.Web.Areas.Admin.ViewModels
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<RolesViewModel>
<table class="table table-striped" id="rolesTable">
    <thead>
        <tr>
            <th>
                @localizer["Role"]
            </th>
            <th>
                @localizer["Id"]
            </th>

            @if (User.Claims.Any(a => a.Value == MasterPermissions.Update || a.Value == ProductPermissions.Update || a.Value == MasterPermissions.Delete || a.Value == ProductPermissions.Delete))
            {
                <th style="width:40%">
                    @localizer["Actions"]
                </th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    @role.Id
                </td>

                @if (User.Claims.Any(a => a.Value == MasterPermissions.Update || a.Value == MasterPermissions.Delete))
                {
                    <td text-right">
                        @if (User.Claims.Any(a => a.Value == MasterPermissions.Update) && role.Name != "SuperAdmin" && role.Name != "Basic")
                        {
                            <a onclick="jQueryModalGet('/admin/roles?handler=CreateOrEdit&id=@role.Id','Edit Role')" class="btn btn-info text-white">
                                <i class="fas fa-pencil-alt"></i> @localizer["Edit"]
                            </a>
                        }
                        @if (User.Claims.Any(a => a.Value == MasterPermissions.Delete) && role.Name != "SuperAdmin" && role.Name != "Basic")
                        {
                            <form asp-page="Roles" method="post" asp-page-handler="Delete" asp-route-id="@role.Id" onsubmit="return jQueryModalDelete(this)" class="d-inline">
                                <button type="submit" class="btn btn-danger text-white"><i class="fas fa-trash-alt"></i> @localizer["Delete"]</button>
                            </form>
                        }
                        @if (role.Name != "SuperAdmin")
                        {
                            <a style='margin-right:16px' asp-area="Admin" asp-page="Claims" asp-route-roleId="@role.Id" asp-page-handler="ViewAll" class="btn btn-primary">
                                <i class="fas fa-lock"></i> @localizer["Permissions"]
                            </a>
                        }
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#rolesTable").DataTable();
    });
</script>