@page
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model AspNetCoreHero.Web.Areas.Admin.Pages.UsersModel
@{
}
@{
    ViewData["Title"] = localizer["Users"];
    ViewData["Caption"] = localizer["Manage Users here"];
}

<div class="card">
    <div class="card-body table-responsive">
        <table class="table" id="usersTable">
            <thead>
                <tr>
                    <th>
                        @localizer["User"]
                    </th>
                    <th>
                        @localizer["Email"]
                    </th>
                    <th>
                        @localizer["Status"]
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>
                            <div class="row">
                                @if (@user.ProfilePicture != null)
                                {
                                    <div class="col-sm" style="max-width:80px">
                                        <img class="img-profile rounded-circle" style="height: 75px;width:75px;object-fit: cover;" src="data:image/*;base64,@(Convert.ToBase64String(@user.ProfilePicture))">
                                    </div>
                                }

                                <div class="col-sm">
                                    <a>
                                        @user.FirstName @user.LastName
                                    </a>
                                    <br>
                                    <small>
                                        @user.Id
                                    </small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a>
                                @user.Email
                            </a>
                            <br>
                            <small>
                                @if (user.EmailConfirmed)
                                {
                                    <span class="badge badge-success">@localizer["Email Confirmed"]</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">@localizer["Email Not Confirmed"]</span>
                                }
                            </small>

                        </td>
                        <td>
                            @if (user.IsActive)
                            {
                                <span class="badge badge-success">@localizer["Active"]</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">@localizer["Deactivated"]</span>
                            }

                        </td>
                        <td text-right">
                            <form method="post" style="display: inline-flex;">
                                <button type="submit" style='margin-right:16px' asp-area="Profile" asp-page="Index" asp-route-userId="@user.Id" asp-page-handler="ViewProfile" class="btn btn-primary btn-sm">
                                    @localizer["Profile"]
                                </button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
@section Scripts
{
    <script src="~/js/Areas/Admin/users.js"></script>
}

