@using AspNetCoreHero.Web.Areas.Products.ViewModels
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<ProductViewModel>
<table class="table table-striped" id="productTable">
    <thead>
        <tr>
            <th>
                @localizer["Name"]
            </th>
            <th>
                @localizer["Barcode"]
            </th>
            <th>
                @localizer["Rate"]
            </th>
            @if (User.Claims.Any(a => a.Value == MasterPermissions.Update || a.Value == ProductPermissions.Update || a.Value == MasterPermissions.Delete || a.Value == ProductPermissions.Delete))
            {
                <th  style="width:20%">
                    @localizer["Actions"]
                </th>
            }
            </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Barcode
            </td>
            <td>
                @product.Rate
            </td>
            @if (User.Claims.Any(a => a.Value == MasterPermissions.Update || a.Value == ProductPermissions.Update || a.Value == MasterPermissions.Delete|| a.Value == ProductPermissions.Delete))
            {
                <td text-right">
                    @if (User.Claims.Any(a => a.Value == MasterPermissions.Update || a.Value == ProductPermissions.Update))
                    {
                        <a onclick="jQueryModalGet('/products?handler=CreateOrEdit&id=@product.Id','Edit Product')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                    }
                    @if (User.Claims.Any(a => a.Value == MasterPermissions.Delete || a.Value == ProductPermissions.Delete))
                    {
                        <form asp-page="Index" method="post" asp-page-handler="Delete" asp-route-id="@product.Id" onsubmit="return jQueryModalDelete(this)" class="d-inline">
                            <button type="submit" class="btn btn-danger text-white"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    }
                </td>
            }

        </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#productTable").DataTable();
    });
</script>