@page
@model AspNetCoreHero.Web.Areas.Products.Pages.IndexModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
}
@{
    ViewData["Title"] = localizer["Products"];
    ViewData["Caption"] = localizer["Manage Products here"];
}

<div class="card">
    <div class="col-sm-12" style="padding:20px">
        <a href="#" data-toggle="modal" data-target="#ProductCreateModal" class="btn bg-success">
            <i class="fa fa-plus-square"></i>
            Create
        </a>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-bordered" id="productTable">
            <thead>
                <tr>
                    <th>
                        @localizer["User"]
                    </th>
                    <th>
                        @localizer["Email"]
                    </th>
                    <th>
                        @localizer["Status"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>
                            @product.Barcode
                        </td>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @product.Rate
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<partial name="_Create" />
@section Scripts
{
    
    <script src="~/js/Areas/products.js"></script>
}