@using AspNetCoreHero.Web.Areas.ProductCategories.ViewModels
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model IEnumerable<ProductCategoryViewModel>
<table class="table table-striped" id="productCategoryTable">
    <thead>
        <tr>
            <th>
                @localizer["Id"]
            </th>
            <th>
                @localizer["Name"]
            </th>
            <th>
                @localizer["Tax"]
            </th>
            @if (User.Claims.Any(a => a.Value == MasterPermissions.Update || a.Value == ProductCategoryPermissions.Update || a.Value == MasterPermissions.Delete || a.Value == ProductCategoryPermissions.Delete))
            {
                <th style="width:10%">
                    @localizer["Actions"]
                </th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var category in Model)
        {
            <tr>
               
                <td>
                    @category.Id
                </td>
                <td>
                    @category.Name
                </td>
                <td>
                    @category.Tax
                </td>
                @if (User.Claims.Any(a => a.Value == MasterPermissions.Update || a.Value == ProductCategoryPermissions.Update || a.Value == MasterPermissions.Delete || a.Value == ProductCategoryPermissions.Delete))
                {

                    <td text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Action
                            </button>
                            <div class="dropdown-menu shadow animated--grow-in">
                                @if (User.Claims.Any(a => a.Value == MasterPermissions.Update || a.Value == ProductCategoryPermissions.Update))
                                {
                                    <a onclick="jQueryModalGet('/productcategories?handler=CreateOrEdit&id=@category.Id','Edit Product Category')" class="dropdown-item"><i class="fas fa-pencil-alt"></i>  Edit</a>
                                }
                                @if (User.Claims.Any(a => a.Value == MasterPermissions.Delete || a.Value == ProductCategoryPermissions.Delete))
                                {

                                    <form id="form_delete_@category.Id" asp-page="Index" method="post" asp-page-handler="Delete" asp-route-id="@category.Id" onsubmit="return jQueryModalDelete(this)">
                                        <a href="javascript:$('#form_delete_@category.Id').submit();" class="dropdown-item"><i class="fas fa-trash-alt"></i>  Delete</a>
                                    </form>
                                }
                            </div>
                        </div>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#productCategoryTable").DataTable();
    });
</script>